<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2 class="footer-heading">




<a href="http://johannesk.com">johannesk.com</a> <br>    

<a href="http://about.johannesk.com">about</a> | 

<a href="http://blog.johannesk.com">blog</a> | 

<a href="http://now.johannesk.com">now</a> | 

<a href="https://notes.pinboard.in/u:posthumanist/notes/d14b556512d7b231aa8e">pinboard</a> | 

<a href="https://docs.google.com/forms/d/e/1FAIpQLSehYJX5PxwxtQ_IO8q90sOtQFqUBg2L4rcilCiUGsY0wqCbaQ/viewform?embedded=true">contact</a><p>



</h2>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">links</li>
          {% endif -%}
          {% if site.author.email -%}
            <li></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

<p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span></span>
      </a>
    </p>

  </div>

</footer> 
